@font-face {
  font-family: 'Calibre';
  src: url('/assets/fonts/CalibreWeb-Regular.woff2') format('woff2'),
    url('/assets/fonts/CalibreWeb-Regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Calibre';
  src: url('/assets/fonts/CalibreWeb-RegularItalic.woff2') format('woff2'),
    url('/assets/fonts/CalibreWeb-RegularItalic.woff') format('woff');
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Calibre';
  src: url('/assets/fonts/CalibreWeb-Semibold.woff2') format('woff2'),
    url('/assets/fonts/CalibreWeb-Semibold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Calibre';
  src: url('/assets/fonts/CalibreWeb-SemiboldItalic.woff2') format('woff2'),
    url('/assets/fonts/CalibreWeb-SemiboldItalic.woff') format('woff');
  font-display: swap;
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('/assets/fonts/firamono-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/firamono-regular-webfont.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Calibre';
  src: url('/assets/fonts/CalibreWeb-Regular.woff2') format('woff2'),
    url('/assets/fonts/CalibreWeb-Regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Calibre';
  src: url('/assets/fonts/CalibreWeb-RegularItalic.woff2') format('woff2'),
    url('/assets/fonts/CalibreWeb-RegularItalic.woff') format('woff');
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Calibre';
  src: url('/assets/fonts/CalibreWeb-Semibold.woff2') format('woff2'),
    url('/assets/fonts/CalibreWeb-Semibold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Calibre';
  src: url('/assets/fonts/CalibreWeb-SemiboldItalic.woff2') format('woff2'),
    url('/assets/fonts/CalibreWeb-SemiboldItalic.woff') format('woff');
  font-display: swap;
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('/assets/fonts/firamono-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/firamono-regular-webfont.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}