%div.social-media
  %a{href: 'https://github.com/justinleveck', target: '_new'}
    %i{class: "fa fa-github"}
  %a{href: 'https://twitter.com/justinleveck', target: '_new'}
    %i{class: "fa fa-twitter"}
