.site-footer {
  display: inline-block;
  position: relative;
  margin: 5em 0 0 0;
  padding: 4em 0;
  border-top: #ebf2f6 1px solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-size: 0.7em;
  line-height: 1.7em;
  color: #bbc7cc;
  text-align: center;
  background: #f7fafb;
  width: 100%;
}

.site-footer a {
  color: #bbc7cc;
  text-decoration: underline;
}

.site-footer a:hover {
  color: #50585d;
}

.poweredby .icon-ghost {
  font-weight: 700;
  text-decoration: none;
}

.poweredby .icon-ghost:hover {
  text-decoration: none;
}

.poweredby .icon-ghost:before {
  font-size: 1rem;
  margin-right: 0.2em;
}

/* The subscribe icon on the footer */
.subscribe {
  width: 28px;
  height: 28px;
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -15px;
  border: #ebf2f6 1px solid;
  text-align: center;
  line-height: 2.4rem;
  border-radius: 50px;
  background: #fff;
  transition: box-shadow 0.5s;
}

// /* The RSS icon, inserted via icon font */
// .subscribe:before {
//   color: #d2dee3;
//   font-size: 0.15em;
//   position: absolute;
//   top: 9px;
//   left: 9px;
//   font-weight: bold;
//   transition: color 0.5s ease;
// }

// .icon-feed:before {
//   content: "\e001";
// }

/* Add a box shadow to on hover */
.subscribe:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 3px;
  transition: box-shadow 0.25s;
}

.subscribe:hover:before {
  color: #50585d;
}

/* CSS tooltip saying "Subscribe!" - initially hidden */
.tooltip {
  opacity: 0;
  display: inline-block;
  padding: 4px 8px 5px 8px;
  position: absolute;
  top: -23px;
  left: -23px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.8em;
  line-height: 1em;
  text-align: center;
  background: #50585d;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, top 0.3s ease;
}

/* The little chiclet arrow under the tooltip, pointing down */
.tooltip:after {
  content: '';
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: #50585d transparent;
  display: block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -5px;
  z-index: 220;
  width: 0;
}

/* On hover, show the tooltip! */
.subscribe:hover .tooltip {
  opacity: 1;
  top: -32px;
}
