// Header text feature
.layout_home {
  @media screen and (min-width: 500px) {
    .call-out {
      display: flex;
      padding: 4em 0;
      justify-content: center;

      header {
        align-items: center;
        display: flex;
        flex-flow: column;
        align-self: vertical-align;
        padding: 0;
      }
    }
  }
}

.call-out {
  @extend %padding-medium;
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  background-position-y: 57%;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
@media screen and (max-width: 500px) {
  .call-out {
    background-position-y: 20%;
  }
}
.call-out p:last-child {
  margin-bottom: 0;
}
.call-out a {
  color: $header-desc-link-color
}
// Post listing
.posts {
  .post-teaser {
    @extend %padding-medium;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a {
      @extend .body-link;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}